{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>NOTES</title>
    <link rel="stylesheet" href="{% static 'add_note_styles.css'%}">

</head>
<body>
    <div class="container">
        <div class="new_note_sec">
            <div class="new_note_form">
                <form method="POST" class="new_note_inside">
                    {% csrf_token %}
                    <div class="new_note_title">{{ form.title }}</div>
                    <div class="new_note_content">{{ form.content }}</div>
                    <div class="new_note_tag">{{ form.tags }}</div>
                    <button class="save_button" type="submit" >Save</button>
                </form>
            </div>
        </div>

        
        <div class="old_notes_sec">
            {% for note in notes %}
            <div class="old_note">
                <div class="title_box">
                    <p class="old_note_title">{{ note.title }}</p>
                    <form method="POST" action="{% url 'mark_done' note.id %}" class="new_note_inside">
                        {% csrf_token %}
                    
                        <label class="check">
                            <input type="checkbox" class="checkbox" onChange="this.form.submit()">
                            <span class="checkmark"></span>
                        </label> 
                    </form>
                </div>
                <p class="old_note_content">{{ note.content }}</p>
                <small class="old_note_date">{{ note.created_at }}</small>
                <small class="old_note_tag">{{ note.tags }}</small>
            </div>
            {% endfor %}
        </div>  

        <div class="menu_sec">
            <div class="button_wrapper">
                <button class="layout_button"></button>
            </div>
        
        </div>
    </div>  
</body>
